.DS_STORE
auto-save-list
tree-sitter
history
projectile-bookmarks.eld
recentf
transient
elpa
eln-cache
elisp-autofmt-cache
.cache
sessions
eshell/history
eshell/lastdir
cache/
custom.el
places
backups
